*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.2;
    background-color: #FFA8A8;
}
.primary-heading{
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #1A132F;
    text-decoration: underline;
    
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 50%;
    
}