*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.2;
    background-color: #FFA8A8;
}
.primary-heading{
    font-size: 68px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #1A132F;
    text-decoration: underline;
    
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 50%;
  margin-bottom: 20px;
    
}
.secondary-heading{
    font-size: 50px;
    text-align: center;
    color: #9B0000;
    font-weight: 500;
    border: 2px solid #C84B31;
    margin-bottom: 30px;
    
}
.list-item{
    text-align: center;
    margin-bottom: 30px;
}
.list-item h2{
    font-size: 42px;
    text-decoration: double;
    font-style: italic;
    margin-bottom: 20px;
}
.list-item li{
    font-size: 28px;
    line-height: 1.8;
}
.button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 36px;
    background-color: #F0BB62;
    padding: 18px;
    border-radius: 10px;
    
}